server/fs_root/materials/* filter=lfs diff=lfs merge=lfs -text
server/fs_root/materials/neuroscience/Principles[[:space:]]of[[:space:]]Neural[[:space:]]Science filter=lfs diff=lfs merge=lfs -text
Fifth[[:space:]]-[[:space:]]KANDEL.pdf filter=lfs diff=lfs merge=lfs -text
/server/fs_root/materials/neuroscience/Principles[[:space:]]of[[:space:]]Neural[[:space:]]Science,[[:space:]]Fifth[[:space:]]-[[:space:]]KANDEL.pdf filter=lfs diff=lfs merge=lfs -text
